@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&display=swap');

.landing-wrapper {
  font-family: "Big Shoulders Inline Text", serif;
  font-size: 200px;
  font-weight: 400;
  color: white;
  transform:scaleY(140%)
}